/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #F4F5F7;
}

/* Header */
.navbar {
  position: fixed; /* Keeps the navbar at the top */
  width: 100%;     /* Full width */
  height: 60px;    /* Height of the navbar */
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  backdrop-filter: blur(4px); /* Adds blur effect behind navbar */
  display: flex;   /* Flexbox for alignment */
  justify-content: space-between; /* Space between logo and links */
  align-items: center; /* Vertical alignment */
  padding: 0 16px; /* Padding on left and right */
  z-index: 1000;   /* Ensures it stays above other elements */
}

.nav-link {
  color: rgba(23, 37, 42, 0.8); /* Secondary color with opacity */
  margin-left: 20px; /* Space between links */
}

.nav-link:hover {
  color: #2B7A78; /* Primary color on hover */
}

<<<<<<< HEAD
=======
.container h2 {
  text-align: center;
}


/* Set the text color of active and focused accordion buttons to teal */
.accordion-button:not(.collapsed),
.accordion-button:focus {
  color: #2B7A78;
  box-shadow: none;
}

.accordion-flush .accordion-button::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232B7A78' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647.708.708L8.707 11.707a1 1 0 0 1-1.414 0L1.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.25rem;
}

.accordion-flush .accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

/* Make accordion items round and add spacing */
.accordion-flush .accordion-item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;

}



>>>>>>> 64eed66 (changes in the faq section in the landing page)

/* Hero Section */
.hero-gradient {
  background: linear-gradient(270deg, #2B7A78, #3AAFA9, #17252A);
  background-size: 200% auto;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.hero-gradient h1 {
  font-size: 60px;
}

.hero-gradient p {
  font-size: 18px;
}

.hover-lift {
  transition: transform .2s ease-in-out;
}

.hover-lift:hover {
  transform: translateY(-2px);
}

